<h3>Open Invoices</h3>

<%= render 'index', :invoices => @open_invoices, :status => "Open" %>

<h3>Closed Invoices</h3>
<%= render 'index', :invoices => @closed_invoices, :status => "Closed" %>

<br />

<%= link_to 'New Invoice', new_invoice_path, :class => 'btn' %>
