<div>
	<h1>Invoices</h1>
</div>
<h3>Open Invoices</h3>

<%= render 'index', :invoices => @open_invoices %>

<h3>Sent Invoices</h3>
<%= render 'index', :invoices => @sent_invoices %>

<br />

<%= link_to 'New Invoice', new_invoice_path, :class => 'btn' %>
