<div class="hero-unit">
  <h1>Manging your plumbing business the easy way!</h1><br/>
  <p>InvoiceMe is the easiest way to manage your plumbing business. Set appointments, track time and parts, send your clients professional looking invoices, and manage payments. Do all of this from your office or the road!</p>
  <p><%= link_to "Try it for Free!", register_path, {:class => "btn-large btn-warning"} %>
  </p>
</div>
<div class="container">

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h3>Get Paid Sooner</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h3>More Accurate</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h3>Save Time</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>

<hr>

<!-- Example row of quotes -->
<div class="row">
  <div class="span4">
  <div class="quote">
    <p>I tell every entrepreneur I meet that wants to start his own contracting business, make sure you use InvoiceMe. </p>
    </div>
    <div class="image">
			<%= image_tag("fred.png", width: "42", height: "42", alt: "Picture of Fred Wilson") %>
		</div>
		<div class="author">
			Fred Wilson
		</div>
		<div class="title">
			Partner, Union Square Ventures
		</div>
  </div>
  <div class="span4">
  <div class="quote">
    <p>I tell every plumbing and electrical start-up coming out of of Y Combinator to use InvoiceMe. It's a no brainer. </p>
    </div>
    <div class="image">
			<%= image_tag("paul.png", width: "42", height: "42", alt: "Picture of Paul Graham") %>
		</div>
		<div class="author">
			Paul Graham
		</div>
		<div class="title">
			Founder, Y Combinator
		</div>
 </div>
  <div class="span4">
  <div class="quote">
    <p>I just don't trust a contractor that gives me a handwritten invoice. Why don't they use InvoiceMe?</p>
    </div>
    <div class="image">
			<%= image_tag("doug.png", width: "42", height: "42", alt: "Joe the Plumber") %>
		</div>
		<div class="author">
			Joe the Plumber
		</div>
		<div class="title">
			Wanna Be Politician, Everyman's Man?
		</div>
  </div>
</div>

<hr>



	