</div>
  <div id="main_wrapper">
  	<div id="main" class="container">
  		<div id="main_left" class="clearfix">
  			<h2>The easiest way for contractors to invoice their clients right from the job site.</h2>
  			<%= link_to "Try it for Free!", register_path, {:class => "btn-large btn-warning", :id => "signup"} %>
  		</div><!-- end #main_left -->
  		<div id="main_bullets"></div><!-- end #main_bullets -->
  	</div><!-- end #main -->
  </div>

<div class="container">

<div id="wrapper">
	<section id="benefits" class="container">
		<article class="benefit">
			<h4>Get Paid Sooner</h4>
			<p>Create and email your bill right from the job site.</p>
		</article>
		<article class="benefit">
			<h4>More Accurate Invoices</h4>
			<p>Never forget to bill for materials, add the charges to the bill as they are used.</p>
		</article>
		<article class="benefit">
			<h4>Integrate with your accounting system</h4>
			<p>Download your invoices directly to your favorite accounting system such as Freshbooks or Quicken. No need to manually key an invoice again.</p>
		</article>
	</section><!-- end #benefits -->
	<section id="quotes" class="container">
		<article class="quoter">
			<div class="quote">
				<p>I tell every entrepreneur I meet that wants to start his own contracting business, make sure you use InvoiceMe.</p>
			</div>
			<div class="image">
				<%= image_tag("fred.png", width: "42", height: "42", alt: "Picture of Fred Wilson") %>
			</div>
			<div class="author">
				Fred Wilson
			</div>
			<div class="title">
				Partner, Union Square Ventures
			</div>
		</article>
		<article class="quoter">
			<div class="quote">
				<p>I tell every plumbing and electrical start-up coming out of of Y Combinator to use InvoiceMe. It's a no brainer.</p>
			</div>
			<div class="image">
  			<%= image_tag("paul.png", width: "42", height: "42", alt: "Picture of Paul Graham") %>
			</div>
			<div class="author">
				Paul Graham
			</div>
			<div class="title">
				Founder, Y Combinator
			</div>
		</article>
		<article class="quoter">
			<div class="quote">
				<p>I just don't trust a contractor that gives me a handwritten invoice. Why don't don't they use InvoiceMe?</p>
			</div>
			<div class="image">
  			<%= image_tag("doug.png", width: "42", height: "42", alt: "Joe the Plumber") %>
			</div>
			<div class="author">
				Joe the Plumber
			</div>
			<div class="title">
				Wanna Be Politician, Everyman's Man?
			</div>
		</article>
		
	</section><!-- end #quotes -->
	