/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
*/

body {
	height: 100%; 
}

.background {
	background-image: url('climpek.png');
	height: 100%;
}

.navbar-inner {
	background-image: none;
	background-color: rgb(28, 48, 72);
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 0px;
}
.navbar .nav > li > a {
	color: white;
	text-shadow: none;
}

.navbar .nav > li > a:hover {
	color: orange;
}


.navbar .brand {
	color: white;
	text-shadow: none;
}


.alert {
	margin-top: 10px;
}

/*******main *********/
#main_wrapper {
	background-color: #89BCD7;
	width: 100%;
	height: 250px;
}

#main_left {
	width:500px;
	height: 200px;
}

#main_left h2 {
	margin-bottom: 40px;
}

#signup {
	width: 250px;
	height: 60px;
	font-size: 28px;
	margin-left:120px;
}

/*******benefits *********/
.benefit {
	width: 31.2%;
	float: left;
	padding: 1%;
}


/*******quotes *********/
#quotes {
	height: 250px;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #737373;
	margin: 0 auto;
	padding: 0;
}

#quotes .quoter:not(:last-child) {
	margin-right: 25px;
}
.quoter{
	margin-top:20px;
	float: left;
	width: 290px;
}

.quote {
	height:110px;
	width: 280px;
	padding: 10px;
	line-height: 150%;
	background: white;
	margin-bottom: 30px;
    border-radius: 8px;
	box-shadow: 1px 1px 5px #666;

    position: relative;

}

.quote:before {
	content:'';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 130px;
	border: 10px solid;
	border-color: white transparent transparent white;
	
}

.image {
	float:left;
	margin-right: 10px;
}

/****************/

#edit_payment {
	display: inline;
}

.float_right {
	float: right;
}

#edit_header {
	margin-top: 10px;
}

/*****Email******/

#emailto .control-group{
	margin-bottom: 6px;
}

#emailto input[type="checkbox"] {
	margin-top: -5px;
}

